@import '../../assets/sass/colors';

.home {
    display: inline-block;

    padding: 5px;

    background: linear-gradient($orange, $red);

    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 $black;
}